.about {
  background:url("../img/about-mobile@1x.png") center bottom no-repeat;
  color: $basic-white;
}

.about__container {
  @include width($mobile-width);
  background-color: $header-steps-bg;
  padding: 72px 60px 82px 49px;
  border-radius: 30px;
}
