.add-plan {
  background-color: $add-plan-bg;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;
  margin-top: -20px;
  z-index: 12;
}

.add-plan__container {
  @include width($mobile-width);
  padding: 9px 25px 34px 25px;

  @media (min-width: $tablet-width) {
    @include width ($tablet-width);
  }

  @media (min-width: $desktop-width) {
    @include width ($desktop-width);
  }
}

.add-plan__title {
  margin-bottom: 29px;
}

.add-plan__step {
  margin-bottom: 10px;
}

.add-plan__send {
  border: 0;
  font: inherit;
}
