.add-profile {
  @include mobile-width;
  background-color: $destination-bg;
  padding: 67px 25px 38px 50px;
  border-radius: 30px;
}

.add-profile__link {
  font-weight: bold;
  color: $add-profile-link;
}
