.button {
  display: block;
  width: 100%;
  background: $basic-yellow url("../img/triangle-arrow-right.svg") 89% center no-repeat;
  background-size: 11px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  color: $basic-blue-light;
  padding: 22px 133px 22px 23px;
  box-sizing: border-box;
}
