.catalog {
  background-color: $destination-bg;
}

.catalog__container {
  @include width($mobile-width);
  padding-left: 25px;
  padding-right: 25px;
}

.catalog__list {
  @include clear-list;
}

.catalog__more-user {
  display: block;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
  color: $basic-blue-light;
  margin-bottom: 18px;
}
