.choose-companion {
  background-color: $destination-bg;

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}

.choose-companion__container {
  @include width(270px);
  background-color: $basic-yellow;
  padding: 26px 25px 22px 25px;
  margin-bottom: 28px;
  border-radius: 20px;
  height: 624px;

  @media (min-width: $tablet-width) {
    @include width(($tablet-width)-80);
  }

  @media (min-width: $desktop-width) {
    @include width(285px);
  }
}

.choose-companion__title {
  color: $basic-blue-light;
  font-size: 22px;
  line-height: 22px;
  font-weight: bold;
  width: 145px;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.choose-companion__toggle {
  font-weight: bold;
  line-height: 18px;
  color: $basic-blue-light;
  text-transform: uppercase;
}
