.companions {
  background-color: $header-steps-bg;
  border-radius: 30px;
  color: $basic-white;
}

.companions__container {
  @include width($mobile-width);
  padding: 101px 25px 31px 25px;

  @media (min-width: $tablet-width) {
    @include width($tablet-width);
    padding-right: 75px;
    padding-left: 75px;
  }

  @media (min-width: $desktop-width) {
    @include width($desktop-width);
    padding-right: 0;
    padding-left: 130px;
    display: grid;
    grid-template-columns: 430px 1fr;
  }
}

.companions__prologue {
  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

.companions__title {
  padding-left: 25px;
}

.companions__description {
  padding-left: 25px;
  padding-right: 25px;
}

.companions__list {
  @include clear-list;
  margin-top: 54px;

  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: 1/3;
    justify-self: end;
  }
}

.companions__item {
  @media (min-width: $tablet-width) {
    margin-right: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 60px;
  }
}

.companions__user {
  margin-bottom: 9px;
}

.companions__link {
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 80px;
    padding-top: 0;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}
