.destination {
  background-color: $destination-bg;
  border-radius: 30px;
}

.destination__container {
  @include width($mobile-width);
  padding: 101px 25px 34px 25px;

  @media (min-width: $tablet-width) {
    @include width($tablet-width);
    padding-left: 75px;
    padding-right: 75px;
  }

  @media (min-width: $desktop-width) {
    @include width($desktop-width);
    display: grid;
    grid-template-columns: 570px 1fr;
    padding-left: 130px;
    padding-right: 130px;
  }
}

.destination__prologue {
  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: center;
  }
}

.destination__wrapper {
  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

.destination__title {
  padding-left: 25px;
}

.destination__description {
  padding-left: 25px;
  padding-bottom: 60px;

  @media (min-width: $tablet-width) {
    width: 340px;
  }
}

.destination__countries {
  @include clear-list;
}

.destination__link {
  margin-top: 25px;
}
