.flag {
  &::before {
    content: "";
    display: block;
    width: 35px;
    height: 24px;
    border-radius: 3px;
    position: absolute;
    top: -13px;
    left: 25px;

    @media (min-width: $tablet-width) {
      width: 70px;
      height: 47px;
      border-radius: 8px;
      left: 397px;
      top: 17px;
    }

    @media (min-width: $desktop-width) {
      left: 338px;
      top: 23px;
    }
  }

  &--thailand {
    &::before {
      background-image: url("../img/flag-thailand.svg");
      background-size: cover;
    }
  }

  &--france {
    &::before {
      background-image: url("../img/flag-france.svg");
      background-size: cover;
    }
  }

  &--czech {
    &::before {
      background-image: url("../img/flag-czech.svg");
      background-size: cover;
    }
  }

  &--thailand {
    &::before {
      background-image: url("../img/flag-thailand.svg");
      background-size: cover;
    }
  }
}
