.main-nav {
  @media (max-width: $desktop-width) {
    display: block;
    position: absolute;
    background-color: $basic-white;
    width: 320px;
    height: 568px;
    top: 0px;
    left: -25px;
    z-index: 100;
    padding: 0 25px;
    padding-top: 28px;
    box-sizing: border-box;
    color: $header-steps-bg;
  }

  button {
    width: 270px;
    height: 50px;
    font-size: 17px;
    line-height: 50px;
  }

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    width: 768px;
    height: 910px;
    padding: 0 40px;
    padding-top: 45px;
    left: 0;
  }

  @media (min-width: $desktop-width) {
    display: block;
    position: relative;
    left: -60px;
    top: 1px;

    &::before {
      content: "";
      display: block;
      width: 60px;
      height: 2px;
      background-color: $basic-white;
      position: absolute;
      top: 34px;
      left: -104px;
    }
  }

  .main-nav__logo {
    width: 100px;
    height: 19px;

    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
      width: 164px;
      height: 42px;
    }

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  .main-nav__social {
    @media (min-width: $tablet-width) {
      margin-top: 118px;
      padding-left: 57px;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }
}

.main-nav__list {
  @include clear-list;
  text-align: center;
  margin-top: 66px;

  @media (min-width: $tablet-width) {
    text-align: left;
    padding-left: 58px;
    margin-top: 89px;
    margin-bottom: 161px;
  }

  @media (min-width: $desktop-width) {
    @include clear-list;
    display: flex;
  }

  a {
    color: $header-steps-bg;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;

    @media (min-width: $tablet-width) {
      font-weight: 500;
      font-size: 60px;
      line-height: 71px;
    }

    @media (min-width: $desktop-width) {
      color: $basic-white;
      font-size: 20px;
      font-weight: 500;
      margin-right: 33px;
    }
  }
}

.main-nav__login {
  width: 270px;
  height: 50px;
  margin-top: 53px;
  margin-bottom: 65px;
  border: 0;
  font: inherit;
  font-weight: bold;
  font-size: 17px;
  line-height: 50px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__tel {
  display: block;
  position: relative;
  padding-left: 62px;
  margin-bottom: 23px;

  &::before {
    content: "";
    display: block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: $tel-email url("../img/contacts-phone.svg") center center no-repeat;
    background-size: 15px;
    position: absolute;
    top: -13px;
    left: 0;
  }

  @media (min-width: $tablet-width) {
    padding-left: 148px;
    margin-bottom: 43px;

    &::before {
      width: 68px;
      height: 68px;
      background-size: 22px;
      top: -27px;
      left: 57px;
    }
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-nav__email {
  display: block;
  position: relative;
  padding-left: 62px;

  &::before {
    content: "";
    display: block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: $tel-email url("../img/contacts-mail.svg") center center no-repeat;
    background-size: 16px;
    position: absolute;
    top: -13px;
    left: 0;
  }

  @media (min-width: $tablet-width) {
    padding-left: 148px;

    &::before {
      width: 68px;
      height: 68px;
      background-size: 26px;
      top: -22px;
      left: 57px;
    }
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}
