.page-header {
  color: $basic-white;
  background-color: $basic-header;

  &--inner {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    position: relative;
    z-index: 15;

    @media (min-width: $tablet-width) {
      border-bottom-right-radius: 50px;
      border-bottom-left-radius: 50px;
      height: 350px;
    }
  }
}

.page-header__container {
  @include width($mobile-width);
  background: $basic-blue-dark url("../img/globe-back-mobile@1x.jpg") center top no-repeat;
  padding: 0 25px;
  position: relative;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/globe-back-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    @include width ($tablet-width);
    background: url("../img/globe-back-tablet@1x.jpg") center 382px no-repeat;
    padding: 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/globe-back-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    @include width ($desktop-width);
    background: url("../img/globe-back-desktop@1x.jpg") center top no-repeat;
    padding: 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/globe-back-desktop@2x.jpg");
    }

    &--inner {
      background: none;
    }
  }
}

.page-header__top {
  height: 95px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 28px;
  position: relative;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    background-color: $basic-white;
    height: 132px;
    padding: 14px 41px;
    padding-top: 16px;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    background-color: $basic-blue-dark;
    padding: 0 60px;
    padding-top: 17px;
  }

  &--inner {
    padding-top: 20px;

    .page-header__buttons {
      display: none;

      @media (min-width: $tablet-width) {
        display: flex;
      }
    }

    @media (min-width: $tablet-width) {
      background-color: $basic-header;
    }
  }
}

.page-header__logo {
  width: 100px;
  height: 19px;

  @media (min-width: $tablet-width) {
    width: 166px;
    height: 42px;
  }

  @media (min-width: $desktop-width) {
    width: 200px;
    height: 52px;
  }
}

.page-header__toggle {
  border: 0;
  padding: 0;
  display: block;
  width: 25px;
  height: 25px;
  background-color: transparent;
  cursor: pointer;
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    width: 25px;
    height: 3px;
    border-radius: 1.5px;
    background-color: $basic-white;
    box-shadow: 0 8px 0 0 $basic-white;

    @media (min-width: $tablet-width) {
      background-color: $tablet-toggle;
      box-shadow: 0 8px 0 0 $tablet-toggle;
      top: 7px;
      left: 13px;
    }
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.page-header__bottom {
  @media (min-width: $tablet-width) {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.page-header__title-container {
  @media (min-width: $tablet-width) {
    padding-right: 134px;
    padding-left: 75px;
    padding-top: 98px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  @media (min-width: $desktop-width) {
    padding-right: 183px;
    padding-left: 127px;
  }
}

.page-header__return {
  display: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    font-weight: bold;
    color: $basic-white;
    display: block;
    position: relative;
    top: -8px;

    &::after {
      content: "";
      display: block;
      width: 32px;
      height: 16px;
      position: absolute;
      top: 2px;
      left: 144px;
      background: url("../img/return.svg") center center no-repeat;
    }
  }
}

.page-header__title {
  font-size: 36px;
  line-height: 45px;
  margin: 0;
  display: inline-block;
  border-bottom: 4px solid $basic-orange;

  @media (min-width: $tablet-width) {
    padding-bottom: 72px;
    font-size: 60px;
    border-bottom: 8px solid $basic-orange;
  }

  &--index {
    display: block;
    width: 238px;
    margin: 0 auto;
    text-align: center;
    line-height: 40px;
    border: 0;
    padding-top: 0;

    @media (min-width: $tablet-width) {
      width: 399px;
      font-size: 60px;
      line-height: 70px;
      margin-top: 30px;
      grid-column: 1/3;
    }

    @media (min-width: $desktop-width) {
      width: 418px;
      text-align: left;
      margin-top: 77px;
      margin-left: 127px;
      grid-column: 1/2;
    }
  }
}

.page-header_man-container {
  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    grid-column: 2/3;
  }
}

.page-header__man {
  position: relative;
  display: inline-block;
  width: 192px;
  height: 255px;
  left: 54px;
  top: 8px;

  @media (min-width: $tablet-width) {
    width: 372px;
    height: 451px;
    top: -42px;
    left: -100px;
  }

  @media (min-width: $desktop-width) {
    width: 431px;
    height: 640px;
    top: -22px;
    left: 59px;
  }
}

.page-header__buttons {
  position: relative;

  @media (max-width: (($tablet-width)-1)) {
    position: absolute;
    top: 458px;
    left: 1px;
    z-index: 2;
  }
}

.page-header__wrapper {
  background-color: $header-steps-bg;
  position: relative;
  margin: 0 auto;
  box-sizing: border-box;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  @media (min-width: $tablet-width) {
    grid-column: 1/3;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/4;
    margin: 0;
    margin-left: 60px;
  }
}

.page-header__review {
  background-color: $basic-blue-dark;
  display: block;
  position: relative;
  left: -25px;
  width: 320px;
  padding: 49px 109px 112px 50px;
  margin: 0;
  box-sizing: border-box;

  p {
    margin-top: 0;
    margin-bottom: 21px;
    line-height: 21px;

    @media (min-width: $tablet-width) {
      font-size: 28px;
      line-height: 33px;
      font-weight: 300;
      margin-bottom: 44px;
    }
  }

  cite {
    font-weight: bold;
    font-style: normal;
    line-height: 21px;
  }

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    grid-column: 1/2;
    grid-row: 2/3;
    font-size: 21px;
    line-height: 25px;
  }

  @media (min-width: $tablet-width) {
    background-color: transparent;
    left: 0;
    width: 100%;
    padding: 13px 16px 109px 73px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3/4;
    grid-row: 1/2;
    padding: 88px 58px 109px 102px;
  }
}

.page-header__steps {
  @include clear-list;
  position: absolute;
  top: -80px;
  z-index: 11;

  @media (min-width: $tablet-width) {
    left: -345px;
    top: -47px;
    z-index: 11;
    width: 710px;
  }

  @media (min-width: $desktop-width) {
    top: -257px;
    left: 0;
    width: 1440px;
  }
}
