.page-footer {
  color: $basic-gray;
  background-color: $basic-white;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  position: relative;
  margin-top: -30px;

  @media (min-width: $tablet-width) {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    margin-top: -50px;
  }
}

.page-footer__container {
  @include width($mobile-width);
  padding: 37px 25px 19px 25px;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include width($tablet-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-left: 42px;
    padding-right: 38px;
  }

  @media (min-width: $desktop-width) {
    @include width($desktop-width);
    padding-left: 60px;
    padding-right: 60px;
  }
}

.page-footer__logo {
  @media (min-width: $tablet-width) {
    width: 164px;
    height: 42px;
  }

  @media (min-width: $desktop-width) {
    width: 200px;
    height: 55px;
  }
}

.page-footer__social {
  border-bottom: 1px solid $footer-line;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;

  @media (min-width: $tablet-width) {
    position: relative;
    top: -13px;
    left: 0;
    font-size: 20px;
  }
}

.page-footer__copyright-text {
  padding-top: 9px;

  @media (min-width: $tablet-width) {
    margin-right: 24px;
  }
}
