.step-card {
  background-color: $basic-white;
  border-radius: 10px;
  padding: 24px;

  input {
    width: 100%;
  }
}

.step-card__title {
  font-size: 20px;
  font-weight: bold;
  color: $basic-blue;
}
