$basic-blue: #1D2E5B;
$basic-yellow: #FFD74B;
$basic-gray: #444;
$basic-orange: #FF8D30;
$basic-yellow-dark: #FFBD30;
$basic-blue-light: #1D2E5B;
$basic-white: #FFF;
$basic-black: #000;
$basic-blue-dark: #161C35;
$basic-header: #182044;

$main-step-bg-2: #FFA530;
$header-steps-bg: #192144;
$destination-bg: #EDEFF6;
$add-profile-link: #132576;
