$basic-blue: #1d2e5b;
$basic-yellow: #ffd74b;
$basic-gray: #444444;
$basic-orange: #ff8d30;
$basic-yellow-dark: #ffbd30;
$basic-blue-light: #1d2e5b;
$basic-white: #ffffff;
$basic-black: #000000;
$basic-blue-dark: #161c35;
$basic-header: #182044;

$main-step-bg-2: #ffa530;
$header-steps-bg: #192144;
$destination-bg: #edeff6;
$add-profile-link: #132576;
$footer-line: #f2f2f2;

$mobile-width: 320px;
